# (c) Cocktail
# Fichier de config de l'application PreInscription 
# Les parametres definis ici remplacent ceux
# definis dans la table GRHUM.GRHUM_PARAMETRES 

APP_ID=PREINSCRIPTION
APP_ALIAS=PreInscription
APP_TITLE=PREINSCRIPTION

# Config SAUT
# SAUT_URL = Adresse de votre serveur SAUT si vous en avez un 
# (du type http://www.univ-xxxxxx.fr/cgi-bin/WebObjects/ServAut.woa/wa/)
SAUT_URL=http://apps.univ-lr.fr/cgi-bin/WebObjects/ServAut.woa/wa/
#SAUT_URL=http://kava.univ-lr.fr:8686/cgi-bin/WebObjects.exe/ServAut.woa/wa/

# Translations...
# GRHUM doit pointer sur... GRHUM
# SCOL doit pointer sur GARNUCHE
# LMD doit pointer sur SCOLARITE
SAUT_ID_TRANSLATION=GRHUM:GRHUMT,SCOL:SCOLT,LMD:LMDT
#SAUT_ID_TRANSLATION=GRHUM:GRHUMIEPT,SCOL:SCOLIEPT,LMD:LMDIEPT
#SAUT_ID_TRANSLATION=GRHUM:GRHUMIEP,SCOL:SCOLIEP,LMD:LMDIEP

# (true|false) Utilisation de l'identification CAS
APP_USE_CAS=true

# Code RNE de l'établissement par défaut sur lequel on lance l'application quand aucun code rne n'est spécifié dans l'url
DEFAULT_C_RNE=0171463Y

# Code spécifique à cette instance, pour utilisation des frameworks spécifiques associés à ce code.
# Si défini, utilisera les frameworks spécifiques suffixés de ce code s'ils existent.
#SUFFIXE_SPECIFICITE=

# URL de retour à une page locale si on sort de l'application
APP_URL_RETOUR=http://www.univ-larochelle.fr/spip.php?article1531

# (true|false) Méthodes d'authentification autorisées sur le panneau de login pour la ré-inscription
# si aucun paramètre n'est défini, par défaut toutes les méthodes d'authentification sont autorisées
# (si un paramètre n'est pas défini, par défaut il est considéré à true)
# si tous les paramètres sont passés à false (=erreur de config car ne devrait par arriver),
# l'application force l'authentification par login
ETUDIANT_AUTHENTICATION_BY_LOGIN=true
ETUDIANT_AUTHENTICATION_BY_ETUD_NUMERO=true
ETUDIANT_AUTHENTICATION_BY_INE-BEA=true

# (true|false) Si l'etudiant n'a pas rendu les livres empruntes a la BU,
# le parametre indique si on interdit sa pre-re-inscription ou non
# si true, l'etudiant aura un message d'erreur à la tentative de connexion et ne pourra pas s'identifier
# si false, il n'aura qu'un message d'avertissement mais pourra se pre-re-inscrire
# defaut si non defini = false
ETUDIANT_BU_BLOQUANT=false

# URL de l'application de prise de rendez-vous
# si non definie, on n'utilise pas la prise de rendez-vous
APP_URL_RDV=https://apps.univ-lr.fr/PriseDeRendezVousT5/

APP_USE_MAIL=true
HOST_MAIL=mailhost.univ-lr.fr
ADMIN_MAIL=savinscription@univ-lr.fr
DOMAIN_NAME=univ-lr.fr
NET_NO_PROXY_HOSTS=*.univ-lr.fr
MAIN_LOGO_URL=http://www.univ-lr.fr/image_partagee/ULRLogo90.gif

# (true|false) Si true, les mails d'erreur normalement envoyes par l'application
# au responsable de l'appli (ADMIN_MAIL ci-dessus) ne sont pas envoyes
MODE_DEVELOPPEMENT=true
